<!--LINKS!-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<!--CSS Content!-->
<style>

    * {
        background-color: lightblue;
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: orange;
        font-size: 40pt;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p {
        color: darkcyan;
        font-size: 25pt;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

</style>


<!--HTML Content!-->
<div>
    <h1>Welcome to my Lab 3 Environment!</h1><br>
    <p>This site has been visited {{ count }} times!</p><br>
    <p>YAY, we hit {{ milestone }} visits!</p>
</div>
